body {
  padding: 20px;
  background: cornflowerblue;
  height: 625px;
}
button {
  margin-right: 10px;
}
#divButtons{
  padding-left: 45%;
 }

#titulo{
  background: red;
  justify-content: center;
  color: aliceblue;
  margin-left: 32%;
  width: 400px; 
  border: 1px solid #000000;
  box-shadow: 1px 2px 3px black;
 }
